<main>
        <div id="pagewidth">
            Hello. My name is Saahil and I am a second year student at Onterio Tech Univeristy, studying Networking and IT Security. I like watching as well as playing all kinds of sports with my favourites being soccer and basketball. I also enjoy learning and practicing writing code. 
        </div> 

        <div id="images">
            <img src="images/soccergif.gif" alt="soccer gif" height="200px" width="200px">
            <img src="images/bballgif.gif" alt="bball gif" height="200px" width="200px">
            <img src="images/codinggif.gif" alt="coding gif" height="200px" width="300px">
        </div>

        <div id="video">
            <video width="360" height="360" controls poster="images/AboutMeImage.jpg">
                <source src="images/AboutMeVideo.mp4" type="video/mp4">
            </video>
        </div>

        

    </main>