<!--bottom nav-->

<div id="bottom-nav">
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-text" href="https://www.linkedin.com/in/saahil-kassam/">Contact me via Linkedin</a>
  <p class="navbar-text">Copyright &copy; 2022 Saahil Kassam</p>
  <a class="navbar-text">Visit my Github</a>
</nav>
</div>