<main>
    <div id="homepage">
        <h1>Saahil Kassam's Portfolio</h1>
        <h3>Click on Projects to see a list of projects I have completed so far</h3>
        <h3>Click on About to learn more about me!</h3>
        <h3>Click on Contact to reach out to me about anything!</h3>
    </div>
    
    <body>

</main>