 <main>
        <div id="leftcolumn">
            <img src="images/python-programming-language.png" alt="python logo" height="100px" width="100px">
            <h2>PYTHON PROJECTS</h2>
            <p>
                <ul>
                    <li><h3>Rock Paper Scissors</h3></li>
                    <li><h3>Weekly Intro to Programming Labs</h3></li>
                    <li><h3>Restaurant Reservation System (OOP) with SQL</h3></li>                    
                </ul>
            </p>
        </div>
        <div id="rightcolumn">
            <img src="images/cisco-logo-transparent.png" alt="cisco logo" height="100px" width="200px">
            <h2>CISCO NETWORKING PROJECTS</h2>
            <p>
                <ul>
                    <li><h3>Networking Case Study</h3></li>
                    <li><h3>Intro to Networking Problem and Solution Presentation</h3></li>
                </ul>
            </p>
        </div>
    </main>
